<form method="POST" action="/api/session/login" id="login-form">
  <label for="email">email:</label>
  <input type="email" name="email" id="email" required />
  <label for="password">password:</label>
  <input type="password" name="password" required />
  <button type="submit">Login</button>
</form>